.container {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: linear-gradient(135deg, #f7f7f7, #f7f7f7);
    flex: 1;
}

.navbar{
    -webkit-app-region: drag;
}
.bot {
    color: #111111;
    background: #ffffff;
    transition: all 0.5s ease; /* 过渡动画 */
    border-radius: 4px 12px 12px 12px;
    padding: 12px 16px;
    overflow: hidden;
    position: relative;
    width: auto;
    max-width: 80%;
    border: 1px solid #eeeeee;
    overflow-wrap: break-word;
    -webkit-touch-callout: unset !important;
    -moz-user-select: text !important; /*火狐*/
    -webkit-user-select: text !important; /*webkit浏览器*/
    -ms-user-select: text !important; /*IE10*/

}
.message{
    opacity: 0;
    transform: scale(0.9);
    animation: fade-in 200ms ease-in-out 100ms forwards;
    transform-origin: top left;
}
.user-message{
    opacity: 0;
    transform: scale(0.9);
    animation: fade-in 200ms ease-in-out 100ms forwards;
    transform-origin: top right;
}
.bot:hover {
    box-shadow: 0 0 10px 10px rgb(0 0 0 / 2%);
    border: 1px solid #e9e9e9
}

.user:hover {
    box-shadow: 0 0 10px 10px rgb(0 0 0 / 2%);
    border: 1px solid #e9e9e9
}

.user {
    padding: 12px 16px;
    transition: all 0.5s ease; /* 过渡动画 */
    color: #111111;
    max-width: 80%;
    border: 1px solid #eeeeee;
    width: auto;
    overflow: hidden;
    position: relative;
    overflow-wrap: break-word;
    border-radius: 14px 4px 14px 14px;
    -webkit-touch-callout: unset !important;
    -moz-user-select: text !important; /*火狐*/
    -webkit-user-select: text !important; /*webkit浏览器*/
    -ms-user-select: text !important; /*IE10*/
    background: #e7f5ff;
}

.code {
    font-size: 13px;
}

.link {
    color: #444444;
}

.link:hover {
    color: #167aff;
}

@keyframes marquee {
    0% { transform: translateX(0); } /*起始位置，向右移动0px*/
    100% { transform: translateX(-100%); } /*结束位置，向左移动父元素宽度的距离*/
}
.nmaep{
    max-width: 400px;
    overflow:hidden;
}
.name {
    color: #333333;
    font-weight: 600;
    white-space: nowrap;
    font-size: 18px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
.name:hover{
    overflow:visible;
    animation: marquee 5s linear infinite; /*使用animation属性来设置文字滚动动画*/
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(247, 247, 247, 0.7);
    backdrop-filter: blur(12px) saturate(180%) ;/* saturate(180%) blur(var(--nextui--navbarBlur)) */
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    /* padding: 10px;
    padding-top: 20px; */
    border-top: 1px solid #eeeeee;
    display: flex;
    gap: 12px;
    /* border-top:1px solid #eeeeee */
}

.toggle {
    display: none;
}

/*媒体查询*/
@media screen and (max-width: 768px) {
    .bottom {
        left: 0;
    }
    .navbar{
        left: 0;
    }

    .avatar {
        display: none;
    }

    .nmaep {
        max-width: 100px;
        font-size: 20px;
    }

    .bot {
        max-width: calc(100vw - 70px);
    }

    .user {
        max-width: calc(100vw - 70px);
    }

    .toggle {
        display: flex;
    }

    .bottom{
        background: rgba(255,255,255,0.8);
    }

}

/*markdown*/
.chat-md-top-action {
    opacity: 0.4;
    white-space: nowrap;
    position: absolute;
    background: #ffffff;
    right: 6px;
    /*缩放*/
    transform: scale(0.85);
    top: 6px;
    font-size: 11px;
    border: #cccccc 1px solid;
    border-radius: 12px;
    padding: 2px 12px;
    cursor: pointer;
}

.chat-md-top-action:hover {
    opacity: 1;
}

.chat-md-top-action:active {
    color:  #167aff;
    border-color: #167aff;
}


.chat-message-top-action-item {
    /*缩放*/
    font-size: 11px;
    border: #cccccc 1px solid;
    border-radius: 12px;
    padding: 1px 12px;
    cursor: pointer;
    opacity: 0;
    transition: all linear 0.3s;
}

.chat-message-top-action-item:hover {
    background: #ffffff;
    opacity: 1;
}

.chat-message-top-action-item:active {
    color:  #167aff;
    border-color: #167aff;
}

.message:hover div.chat-message-top-action-item {
    opacity: 1;
}
.user-message:hover div.chat-message-top-action-item {
    opacity: 1;
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.transition_group {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 24px;
}

.navbar {
    -webkit-app-region: drag;
}
.question{
    transition: all 0.2s ease-in-out;
    padding: 12px;
    background: transparent;
    /* background-color: rgba(255, 255, 255, 0.8); */
}

.prompt:hover{
    color: #167aff;
}


@media (prefers-color-scheme: dark) {
    .container {
        background: #111111;
    }
    .name{
        color: #bfbfbf;
    }
    .sub{
        color: #999999;
    }
    .link{
        color: #bcbcbc;
    }
    .bottom{
        background: rgba(17, 17, 17,0.8) ;
        border-top: 1px solid #1a1a1a;
    }
    .question{
        color: #bcbcbc;
    }
    .question::placeholder {
        color: #999;
    }
    .bot {
        color: #bcbcbc;
        background: #16181a;
        border: 1px solid #16181a;
    }
    .bot:hover{
        border: 1px solid #111111;
    }
    .chat-md-top-action{
        background: #111111;
        border: 1px solid #333333;
    }
    .chat-message-top-action-item {
        border: 1px solid #333333;
    }
    .chat-message-top-action-item:hover {
        background: #111111;
    }
    .user {
        color: #dddddd;
        background: #0362cc;
        border: 1px solid #0362cc;
    }
    .user:hover{
        border: 1px solid #252525;
    }
    .prompt:hover{
        color: #dddddd;
    }
}
