.slider {
    width: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 0;
    background: linear-gradient(135deg, #e7f5ff, #e7f5ff);
    gap: 12px;
    overflow-x: hidden;
    overflow-y: scroll;

}

.mobile {
    /*添加一个从左向右出来的抽屉动画*/
    animation: slideIn 0.2s linear;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.operate {
    transition: all linear 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.hide {
    opacity: 0;
}

.historyItem:hover div.operate {
    opacity: 1;
}

.title {
    font-family: 'Audiowide', system-ui;
    background: linear-gradient(135deg, #167aff, #965aed);
    -webkit-background-clip: text;
    line-height: 1;
    text-align: start;
    font-size: 28px;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 4px 4px rgb(22 122 255 / 6%), 0 0 2px rgb(22 122 255 / 2%);
}

.sub {
    font-family: 'Audiowide', system-ui;
    background: linear-gradient(135deg, #167aff, #965aed);
    -webkit-background-clip: text;
    line-height: 1;
    font-size: 10px;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 4px 4px rgb(22 122 255 / 6%), 0 0 2px rgb(22 122 255 / 2%);
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete:hover {
    color: #965aed;
}

.bottom {
    position: absolute;
    bottom: 0;
    padding: 16px;
    align-items: center;
    width: 100%;
    display: flex;
    background: rgba(231, 245, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
