.slider {
    width: 300px;
    /* position: absolute;
    bottom: 0;
    top: 0; */
    background: rgb(231, 245, 255);
    overflow-x: hidden;
    position: relative;
    -webkit-app-region: drag;
    height: 100%;
}

/* .slider ::-webkit-scrollbar{
    --bar-width: 10px;
    background-color: #f7f7f7;
    width: var(--bar-width);
    height: var(--bar-width);
}
.slider ::-webkit-scrollbar-track {
    background-color: transparent;
}

.slider ::-webkit-scrollbar-thumb {
    background-color: #0072F5;
    border-radius: 20px;
    background-clip: content-box;
    border: 1px solid transparent;
} */
 
.mobile {
    /*添加一个从左向右出来的抽屉动画*/
    animation: slideIn 0.2s linear;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.operate {
    transition: opacity linear 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.hide {
    opacity: 0;
    width: 0;
    visibility: hidden;
}

.historyItem:hover div.operate {
    opacity: 1;
    visibility: visible;
    width: unset;
}

.title {
    font-family: 'Audiowide', system-ui;
    background: linear-gradient(45deg, #0072F5, #965aed,#965aed);
    -webkit-background-clip: text;
    line-height: 1;
    text-align: start;
    font-size: 30px;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 4px 4px rgb(22 122 255 / 6%), 0 0 2px rgb(22 122 255 / 2%);
}

.sub {
    text-align: start;
    font-family: 'Audiowide', system-ui;
    background: linear-gradient(45deg, #0072F5, #965aed);
    -webkit-background-clip: text;
    line-height: 1;
    font-size: 10px;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 4px 4px rgb(22 122 255 / 6%), 0 0 2px rgb(22 122 255 / 2%);
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #696969;
}
.current {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0072F5;
}

.delete:hover {
    color: #0072F5;
}

.current:hover {
    color: #965aed;
}
.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: rgba(231, 245, 255, 0.7);
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
}

.clear{
    background: rgba(231, 245, 255, 0.2);
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
}
.head{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: rgba(231, 245, 255, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
/* .top{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--nextui-colors-primary);
} */


.label{
    /* style={{ marginLeft: 16, color: "#666666", fontSize: 12 }} */
    padding-left: 16px;
    color: #666666;
    font-size: 12px;
}



@media (prefers-color-scheme: dark) {
    .slider{
        background: #16181a;
    }
    .bottom{
        background: rgba(22, 24, 26, 0.6);
    }
    .clear{
        background: rgba(22, 24, 26, 0.2);
    }
    .head{
        background: rgba(22, 24, 26, 0.6);
    }
    .delete {
        color: #999999
    }
    .label{
        color: #777777;
    }
    .current{
        color: #bfbfbf;
    }
}
