.delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete:hover {
    color: #965aed;
}

.link {
    color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover {
    color: #167aff;
}
@media (prefers-color-scheme: dark) {
    .link {
        color: #888888;
    }
}